
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

/* container */
.quiz-container {
    font-family: 'Walter Turncoat', Arial, Helvetica, sans-serif;
    margin: .5em;
    padding: .5em;
    background-color: whitesmoke;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.question-container {
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.scoreboard-container {
    margin: .5em;
    padding: 1em;
    background-color: rgb(136, 133, 133);
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*SCORE BOARD*/
#scoreboard{
    display: flex;
    justify-content: space-between;
}
.prefix {
    text-align: center;
    font-size: 16px;
    font-family: 'IM Fell DW Pica', serif;
}
.scoreboard-text {
    font-size: 16px;
    text-align: center;
    font-family: 'Walter Turncoat', Arial, Helvetica, sans-serif;
}
.item-1,.item-2 {
    background-color: whitesmoke;
    padding: .5rem;
    text-align: center;
}
#question {
    background-color: white;
    font-size: 32px;
    padding: 8px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 16px;
}
.options-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 16px;
    border: 1px solid rgba(10, 10, 10, 0.986);
    background-color: white;
    border-radius: 8px;
  }
  .options-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(10, 10, 10, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  .options-text {
    padding: 4px;
    width: 100%;
  }
.option-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.correct {
    background-color:green;
    color: white;
    border: 2px solid green;
  }
  
  .correct .options-text {
    color: white;
  }
  
  .wrong {
    background-color: #c55e68;
    color: white;
    border: 2px solid red;
  }
  
  .wrong .options-text {
    color: white;
  }
@media (min-width: 769px) {
    .question-container {
        width: 40%;
        margin: 1.5em auto;
        background-color: white;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}
